::-webkit-scrollbar { 
display: none; 
}

.nav-item {
	margin-right:12px;
}

* {
  box-sizing: border-box;
}

.bg-blurred {
	background: no-repeat center center fixed; 
	background-size: cover;
	display: block;
	left: -15px;
	right: -15px;
	top:-5px;
	bottom:-5px;
	position: fixed;
	z-index: 1;
	filter: brightness(35%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin:-5px;
}

/* Position text in the middle of the page/image */
.floating-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}